@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./assets/fonts/Satoshi-Variable.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --theme-text-base: hsl(0, 0%, 100%);
    --theme-background-primary: hsl(230, 23%, 5%);
    --theme-btn-bg-primary: hsl(0, 6%, 90%);
    --theme-btn-bg-primary-disabled: hsl(0, 1%, 63%);
    --theme-btn-bg-primary-hover: hsla(210, 20%, 98%, 0.734);
    --theme-text-primary-background: linear-gradient(180deg, #3e75f3 0%, #0b3db2 70%);
    --theme-text-secondary-background: linear-gradient(180deg, #ffffff 0%, #a6a6a6 100%);
}

.dark {
    --theme-text-base: hsl(0, 0%, 100%);
    --theme-background-primary: hsl(216, 45%, 98%);
    --theme-text-secondary-background: linear-gradient(180deg, #b7b4b4 0%, #a6a6a6 100%);
}

@layer components {
    .btn-primary {
        background-color: var(--theme-btn-bg-primary);
        @apply md:text-lg text-base text-black md:px-5 px-4 md:py-[0.40rem] py-[0.30rem] rounded-md transition-all ease-in duration-100;
    }

    .btn-primary-disabled {
        background-color: var(--theme-btn-bg-primary-disabled);
        @apply md:text-lg text-base text-black md:px-5 px-4 md:py-[0.40rem] py-[0.30rem] rounded-md transition-all ease-in duration-100;
    }

    .btn-primary:hover {
        background-color: var(--theme-btn-bg-primary-hover);
    }

    .btn-secondary {
        background-image: linear-gradient(180deg, #5c8bf9 0%, #1551db 70%);
        @apply md:text-lg text-base text-white md:px-5 px-4 md:py-[0.40rem] py-[0.30rem] rounded-md transition-all ease-in duration-100;
    }

    .btn-secondary-disabled {
        background-image: linear-gradient(180deg, #5c8bf9ab 0%, #1550db77 70%);
        @apply md:text-lg text-base text-white md:px-5 px-4 md:py-[0.40rem] py-[0.30rem] rounded-md transition-all ease-in duration-100;
    }

    .btn-secondary:hover {
        background-image: linear-gradient(180deg, #3e75f3 0%, #0b3db2 70%);
    }

    .input-primary {
        @apply bg-transparent border border-gray-400 border-opacity-30 rounded-md px-3 py-1 md:text-lg text-base outline-none
    }

    .input-primary-disabled {
        @apply bg-gray-800 border border-gray-400 border-opacity-30 rounded-md px-3 py-1 md:text-lg outline-none
    }

    .input-search-primary {
        @apply bg-transparent border border-[#3e75f3] rounded-md px-4 py-[0.4rem] md:text-lg outline-none
    }
}

@layer utilities {
    .text-gradient-primary {
        @apply text-transparent bg-clip-text;
        background-image: var(--theme-text-primary-background);
    }

    .text-gradient-secondary {
        @apply text-transparent bg-clip-text;
        background-image: var(--theme-text-secondary-background);
    }
}